@import url(css/nav.css);
@import url(css/card.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #12c45c;
    
    padding: 20px;
}
